<div id="main-div">
  <h1><%=item.name%></h1>
  <h3><%=item.description%></h3>
    <h4>Contact information:</h4>
    <h5>name: <%=user.name%>, email:<%=user.email%></h5>
    <% if current_user && current_user.may_edit?(item) %>
       <div class="edit=-form">
         <%= erb :"items/edit", locals: { item: item} %>
       </div>
    <% else %>
    <% end %>
    <div id="comment-field">
        <h2>Comments:</h2>
      <% if comments.count > 0 %>
      <% end%>
        <ul>
          <% comments.each do |c| %>
            <% unless c.parent_id %>
              <%=erb :"comments/show", locals: {comment: c, item: item, parent_id: nil}%>
            <% end %>
          <% end %>
        </ul>

        <button id="comment-create" class="btn">comment</button>
        <div class="hidden-create"><br>
           <%= erb :"comments/new", locals: { item: item, parent_id: nil} %>
        </div>
    </div>

</div>
